<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ title }}</title>

    <style>
        .my-app button.command {
            border-radius: 100%
        }
        
        .my-app .row {
            padding: 15px 0;
        }
        
        .my-app .col {}
        
        .my-app .row .title {
            font-size: 10px
        }
        
        .my-app .my-container {
            margin: 0 auto;
            width: 50px;
            margin-top: 35px;
        }
        
        .btn:focus {
            outline: none;
        }

    </style>
    
    {% block head %}{% endblock %}
    
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/timers">timer</a></li>
                    <li><a href="/addCommand">IR remote commands</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/subscribe">Subscribe</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block content %}{% endblock %}

</body>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.3.0/annyang.min.js"></script>    
<script>
    function runCommand(command) {
        switch (command) {
            case "on":
                url = "/lightsOn";
                break;
            case "off":
                url = "/lightsOff";
                break;
            case "play":
                url = "/playMusic";
                break;
        }
        $.post(url, function(data) {
                $('#lbl_res').html(data);
            })
            .fail(function() {
                alert("error");
            });
    }
    $(function() {
        $('.command').click(function() {
            var command = $(this).data("command");
            runCommand(command);
        });
        if (annyang) {
            //annyang.setLanguage(‘he’);
            // Let's define our first command. First the text we expect, and then the function it should call
            var commands = {
                'lights on': function() {
                    runCommand("on");
                    annyang.abort();
                    annyang.start();
                },
                'lights off': function() {
                    runCommand("off");
                    annyang.abort();
                    annyang.start();
                },
                'play music': function() {
                    runCommand("play");
                    annyang.abort();
                    annyang.start();
                }
            };

            annyang.addCallback('result', function(say) {
                //                $('#lbl_res').text(say);
            });
            // Add our commands to annyang
            annyang.addCommands(commands);

            // Start listening. You can call this here, or attach this call to an event, button, etc.
            annyang.start();
        }
    });

</script>

</html>
