{% extends "base.html" %}
{% block content %}
<div class="my-app">
    <div class="row">
        <div class="col-md-4">
            <div class="my-container">
                <button id="index-lights-on" onclick='responsiveVoice.speak("OK, turning lights on");'
                        class="btn btn-default btn-lg command glyphicon glyphicon-eye-open"
                        type="button"></button>
                <span class="title">lights on</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="my-container">
                <button id="index-lights-off" onclick='responsiveVoice.speak("OK, turning lights off");'
                        class="btn btn-default btn-lg command glyphicon glyphicon-eye-close"
                        type="button"></button>
                <span class="title">lights off</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="my-container">
                <form action="/playMusic" method="post">
                    <button id="index-play" class="btn btn-info btn-lg command glyphicon glyphicon-music"
                            type="submit"></button>
                    <span class="title">play music</span>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
        $(function(){
            {% if first_time %}
                setTimeout(function(){responsiveVoice.speak("Welcom. What would you like to do?")}, 500);
            {% endif %}
        });

</script>
{% endblock %}
