{% extends "base.html" %}
{% block content %}

<form class="form-inline" action="/setTimer" method="post">
    <div class="form-group">
        <input type="time" name="time" class="form-control">
    </div>
    <button onclick='responsiveVoice.speak("Time was set");' type="submit" class="btn btn-default">Set Time</button>
</form>

<table class="table table-striped" id="tbl-timers">
    <thead>
    <tr>
        <th>Set Time</th>
        <th>End Time</th>
    </tr>
    </thead>
    <tbody>
    {% for timer in timers %}
    <tr>
        <td>{{ timer.set_time.strftime("%H:%M - %B %d") }}</td>
        <td>{{ timer.end_time.strftime("%H:%M - %B %d") }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<!--
    <div class="jumbotron">
        <div class="container">
            <h1>timer was set</h1>
            <p>notification will be send 5 min before time</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/" role="button">OK</a>
            </p>
        </div>
    </div>
-->

{% endblock %}
